<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="#">Angular CRUD</a>
  <ul routerLinkActive="active">
    <li>
      <a href="/getall" routerLink="getall">Get all</a>
    </li>
    <li>
      <a href="/get" routerLink="get">Get</a>
    </li>
    <li>
      <a href="/post" routerLink="post">Post</a>
    </li>
    <li>
      <a href="/put" routerLink="put">Put</a>
    </li>
    <li>
      <a href="/delete" routerLink="delete">Delete</a>
    </li>
  </ul>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
